{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head-title %}Welcome | {% endblock %}


{% block jumbotron %}
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="row">
  <div class='col-sm-6'>
  <h1>IT/Business Consulting</h1>
  <p>Helping you getting your IT projects set up right to suit your business needs.</p>
  <p>To see the difference between static and fixed top navbars, just scroll.</p>
  <p>
  </div>
  <div class='col-sm-6' style="background-color:black;height:300px">
  </div>
  </div>
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Learn more! &raquo;</a>
  </p>
</div>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-3 pull-right">

    <p  class="lead">{{ title }}</p>
    <form method='POST' action='.'>
    {% csrf_token %}
    {{ form | crispy }}
    <input class="btn btn-primary" type="submit" value="Sign Up" />
    </form>
  </div>
  <div class='col-sm-3'>
    <p class="lead">Built with Django &amp; Bootstrap</p>
  </div>
  <div class='col-sm-3'>
    <p class="lead">Be passionate about what you do!</p>
  </div>
  <div class='col-sm-3'>
    <p class="lead">Always Open Source</p>
  </div>
</div>
{% endblock %}
